.panelCategory {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1em;
    justify-content: center;
    width: 100%;
  }
  
  #tbUser {
    width: 82%;
    height: 400px;
    overflow: hidden;
    max-height: 40px !important;
    overflow: hidden !important;
  }
  
  #tdUser{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
  }
  
  #tdUser button {
    margin: 5px;
  
  }
  
  .wAction {
      width: 45px;
  
  }
  
  .panelCategory td, 
  .panelCategory th{
    border-left: none;
    border-right: none;
  
  }