header {
    width: 100vw;
    height: 7vh;
    background-color: #FEA002;
    box-shadow: 1px 1px 25px 5px #c0c0c0c7;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}


nav {
    display: flex;
    margin-right: 5%;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

