.container_registerProduct h2 {
    text-transform: uppercase;

}

.container_registerProduct {
    position: absolute;
    top: 60px;

}
 
.container_registerProduct, .container_registerProductTwo {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 93%;
    color: #353535;
}


.container_registerProduct p{
    color: #008000 ;


}

.container_registerProductTwo {
    background-color: rgb(255, 255, 255);
    width: 50%;
    height: 80%;
    border-radius: 5px;
    box-shadow: 1px 1px 15px #a3a3a3;
    padding: 20px;

}

.container_registerProduct label{
    color: #4e4e4e;
    font-weight:  bold;
}

.container_registerProduct  form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

 .container_registerProduct textarea {
    padding: 5px;
    height: 29px;
    width: 100%;
    background-color: #fff;
    border: solid 1px rgb(71, 71, 71);
    border-radius: 5px;
    color: #7a7a7a;
}

.registerProductsPrincipal {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: row;
}

.container_registerProduct-interno {
    padding: 15px;
    margin: 10px;
    width: 40%;
}
