.panelUser {
  display: flex;
  margin-top: 1em;
  align-items: start;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

#tbUser {
  width: 70vw;

}

#tdUser{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

#tdUser button {
  margin: 5px;

}
