.panelUser {
  display: flex;
  margin-top: 1em;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#tbUser {
  width: 82%;

}

#tdUser{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

#tdUser button {
  margin: 5px;

}

.wAction {
    width: 45px;

}

.panelUser td, 
.panelUser th{
  border-left: none;
  border-right: none;

}
