h1 {
  color: #000;
  font-size: 18px;
  font-weight: normal;
  margin: 0;
}

label {
  color: #000;

}
.wallpaper {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('./assets/bg_slider_jjd_transportes_02.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.login {
  width: 350px;
  height: 400px;
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}
.Logo {
  width: 100px;
  margin: 0;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}
